# D211 Advanced Data Acquisition

In [1]:
import pandas as pd
import sql
from sqlalchemy import create_engine
import psycopg2

%load_ext sql

In [2]:
%sql postgresql://postgres:Maximus77!@localhost:5432/churn_db
engine = create_engine('postgresql://postgres:Maximus77!@localhost/churn_db')
con = engine.connect()

In [3]:
%%sql

DROP TABLE company;
DROP TABLE competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
Done.
Done.

[]

In [4]:
company = pd.read_csv('company.csv')
competitor = pd.read_csv('competitor.csv')
company.to_sql(name='company',con=con,if_exists='append')
competitor.to_sql(name='competitor',con=con,if_exists='append')
con.close()

### Read in Data

In [5]:
%%sql

SELECT *
FROM company
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/churn_db
5 rows affected.

[(0, 1, 'K409198', 'aa90260b-4141-4a24-8e36-b04ce1f4f77b', 'e885b299883d4f9fb18e39c75155d990', 'Point Baker', 'AK', 'Prince of Wales-Hyder', 99927, 56.251, -133.37571, 38, 'Urban', 'America/Sitka', 'Environmental health practitioner', 0, 68, 28561.99, 'Widowed', 'Male', 'No', 7.978322947, 10, 0, 1, 'No', 'One year', 'Yes', 'Yes', 'Fiber Optic', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'Credit Card (automatic)', 6.795512947, 172.455519, 904.5361102, 5, 5, 5, 3, 4, 4, 3, 4),
 (1, 2, 'S120509', 'fb76459f-c047-4a9d-8af9-e0f7d4ac2524', 'f2de8bef964785f41a2959829830fb8a', 'West Branch', 'MI', 'Ogemaw', 48661, 44.32893, -84.2408, 10446, 'Urban', 'America/Detroit', 'Programmer, multimedia', 1, 27, 21704.77, 'Married', 'Female', 'Yes', 11.69907956, 12, 0, 1, 'Yes', 'Month-to-month', 'No', 'Yes', 'Fiber Optic', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Bank Transfer(automatic)', 1.156680997, 242.632554, 800.9827661, 3, 4, 3, 3, 4, 3, 4, 4),
 (2, 3, 'K191035', '344d114c-3736-4be5-98f7-c72c281e2d35', 'f1784cfa9f6d92ae816197eb175d3c71', 'Yamhill', 'OR', 'Yamhill', 97148, 45.35589, -123.24657, 3735, 'Urban', 'America/Los_Angeles', 'Chief Financial Officer', 4, 50, 9609.57, 'Widowed', 'Female', 'No', 10.75280028, 9, 0, 1, 'Yes', 'Two Year', 'Yes', 'No', 'DSL', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'Credit Card (automatic)', 15.75414408, 159.947583, 2054.706961, 4, 4, 2, 4, 4, 3, 3, 3),
 (3, 4, 'D90850', 'abfa2b40-2d43-4994-b15a-989b8c79e311', 'dc8a365077241bb5cd5ccd305136b05e', 'Del Mar', 'CA', 'San Diego', 92014, 32.96687, -117.24798, 13863, 'Suburban', 'America/Los_Angeles', 'Solicitor', 1, 48, 18925.23, 'Married', 'Male', 'No', 14.91353964, 15, 2, 0, 'Yes', 'Two Year', 'No', 'No', 'DSL', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'Mailed Check', 17.08722662, 119.95684, 2164.579412, 4, 4, 4, 2, 5, 4, 3, 3),
 (4, 5, 'K662701', '68a861fd-0d20-4e51-a587-8a90407ee574', 'aabb64a116e83fdc4befc1fbab1663f9', 'Needville', 'TX', 'Fort Bend', 77461, 29.38012, -95.80673, 11352, 'Suburban', 'America/Chicago', 'Medical illustrator', 0, 83, 40074.19, 'Separated', 'Male', 'Yes', 8.147416533, 16, 2, 1, 'No', 'Month-to-month', 'Yes', 'No', 'Fiber Optic', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Mailed Check', 1.670971726, 149.948316, 271.4934362, 4, 4, 4, 3, 4, 4, 4, 5)]

In [6]:
%%sql

SELECT *
FROM competitor
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/churn_db
5 rows affected.

[(0, '7590-VHVEG', 'Female', 0, 'Yes', 'No', 1.0, 'No', 'No phone service', 'DSL', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Electronic check', 29.85, '29.85', 'No'),
 (1, '5575-GNVDE', 'Male', 0, 'No', 'No', 34.0, 'Yes', 'No', 'DSL', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'One year', 'No', 'Mailed check', 56.95, '1889.5', 'No'),
 (2, '3668-QPYBK', 'Male', 0, 'No', 'No', 2.0, 'Yes', 'No', 'DSL', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Mailed check', 53.85, '108.15', 'Yes'),
 (3, '7795-CFOCW', 'Male', 0, 'No', 'No', 45.0, 'No', 'No phone service', 'DSL', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'One year', 'No', 'Bank transfer (automatic)', 42.3, '1840.75', 'No'),
 (4, '9237-HQITU', 'Female', 0, 'No', 'No', 2.0, 'Yes', 'No', 'Fiber optic', 'No', 'No', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Electronic check', 70.7, '151.65', 'Yes')]

### Drop Unmatched columns

In [7]:
%%sql

ALTER TABLE competitor
DROP COLUMN "SeniorCitizen";

 * postgresql://postgres:***@localhost:5432/churn_db
Done.

[]

In [8]:
%%sql

ALTER TABLE company
DROP COLUMN "index",
DROP COLUMN "Interaction",
DROP COLUMN "UID",
DROP COLUMN "City",
DROP COLUMN "State",
DROP COLUMN "County",
DROP COLUMN "Zip",
DROP COLUMN "Lat",
DROP COLUMN "Lng",
DROP COLUMN "Population",
DROP COLUMN "Area",
DROP COLUMN "TimeZone",
DROP COLUMN "Job",
DROP COLUMN "Age",
DROP COLUMN "Income",
DROP COLUMN "Outage_sec_perweek",
DROP COLUMN "Email",
DROP COLUMN "Contacts",
DROP COLUMN "Yearly_equip_failure",
DROP COLUMN "Techie",
DROP COLUMN "Port_modem",
DROP COLUMN "Tablet",
DROP COLUMN "Bandwidth_GB_Year",
DROP COLUMN "Item1",
DROP COLUMN "Item2", 
DROP COLUMN "Item3",
DROP COLUMN "Item4",
DROP COLUMN "Item5",
DROP COLUMN "Item6",
DROP COLUMN "Item7",
DROP COLUMN "Item8";

 * postgresql://postgres:***@localhost:5432/churn_db
Done.

[]

In [9]:
%%sql

SELECT *
FROM company
limit 1

 * postgresql://postgres:***@localhost:5432/churn_db
1 rows affected.

[(1, 'K409198', 0, 'Widowed', 'Male', 'No', 'One year', 'Fiber Optic', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'Credit Card (automatic)', 6.795512947, 172.455519)]

### Search for Null Values

In [10]:
%%sql

SELECT * FROM company WHERE coalesce('CaseOrder', 'Customer_id', 'Children', 'Marital', 'Gender', 'Churn',
                                     'Contract','InternetService',
                                     'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup',
                                     'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
                                     'PaperlessBilling', 'PaymentMethod', 'Tenure', 'MonthlyCharge') IS NULL

 * postgresql://postgres:***@localhost:5432/churn_db
0 rows affected.

[]

In [11]:
%%sql

SELECT * FROM competitor WHERE coalesce('customerID', 'gender', 'Partner', 'Dependents',
                                        'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
                                        'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
                                        'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
                                        'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn') IS NULL

 * postgresql://postgres:***@localhost:5432/churn_db
0 rows affected.

[]

### Search for Duplicate Entries

In [12]:
%%sql

SELECT "Customer_id", COUNT(*)
FROM company
GROUP BY "Customer_id"
HAVING COUNT(*) > 1

 * postgresql://postgres:***@localhost:5432/churn_db
0 rows affected.

[]

In [13]:
%%sql

SELECT "customerID", COUNT(*)
FROM competitor
GROUP BY "customerID"
HAVING COUNT(*) > 1

 * postgresql://postgres:***@localhost:5432/churn_db
0 rows affected.

[]

### Compare Categorical Columns

#### Distinct Genders

In [14]:
%%sql
SELECT DISTINCT "Gender"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('Nonbinary',), ('Male',), ('Female',)]

In [15]:
%%sql
SELECT DISTINCT gender
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('Female',), ('Male',)]

#### Distinct Relationship Status

In [16]:
%%sql
SELECT DISTINCT "Marital"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
5 rows affected.

[('Widowed',), ('Never Married',), ('Married',), ('Divorced',), ('Separated',)]

In [17]:
%%sql
ALTER TABLE company
ADD COLUMN partner text;

UPDATE company
SET partner = 'No'
WHERE "Marital" IN ('Widowed', 'Never Married', 'Divorced', 'Separated');

UPDATE company
SET partner = 'Yes'
WHERE "Marital" = 'Married';

 * postgresql://postgres:***@localhost:5432/churn_db
Done.
8089 rows affected.
1911 rows affected.

[]

In [18]:
%%sql
SELECT DISTINCT partner
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [19]:
%%sql

ALTER TABLE company
DROP "Marital";

 * postgresql://postgres:***@localhost:5432/churn_db
Done.

[]

#### Distinct Dependents

In [20]:
%%sql

ALTER TABLE company
ADD COLUMN dependents text;

UPDATE company
SET dependents = 'Yes'
WHERE "Children" > 0;

UPDATE company
SET dependents = 'No'
WHERE "Children" = 0;

 * postgresql://postgres:***@localhost:5432/churn_db
Done.
7430 rows affected.
2570 rows affected.

[]

In [21]:
%%sql

ALTER TABLE company
DROP "Children";

 * postgresql://postgres:***@localhost:5432/churn_db
Done.

[]

In [22]:
%%sql
SELECT DISTINCT dependents
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [23]:
%%sql
SELECT DISTINCT "Dependents"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

#### Distinct Phone Service

In [24]:
%%sql

SELECT DISTINCT "Phone"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [25]:
%%sql
SELECT DISTINCT "PhoneService"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

#### Distinct Multiple Lines

In [26]:
%%sql

SELECT DISTINCT "Multiple"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [27]:
%%sql

SELECT DISTINCT "MultipleLines"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('No',), ('Yes',), ('No phone service',)]

In [28]:
%%sql

UPDATE competitor
SET "MultipleLines" = 'No'
WHERE "MultipleLines" = 'No phone service';

 * postgresql://postgres:***@localhost:5432/churn_db
682 rows affected.

[]

In [29]:
%%sql

SELECT DISTINCT "MultipleLines"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

#### Distinct Internet Services

In [30]:
%%sql
SELECT DISTINCT "InternetService"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('DSL',), ('Fiber Optic',), ('None',)]

In [31]:
%%sql
SELECT DISTINCT "InternetService"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('No',), ('DSL',), ('Fiber optic',)]

In [32]:
%%sql

UPDATE competitor
SET "InternetService" = 'None'
WHERE "InternetService" = 'No';

 * postgresql://postgres:***@localhost:5432/churn_db
1526 rows affected.

[]

In [33]:
%%sql
SELECT DISTINCT "InternetService"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('DSL',), ('Fiber optic',), ('None',)]

#### Distinct Online Security

In [34]:
%%sql

SELECT DISTINCT "OnlineSecurity"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [35]:
%%sql

SELECT DISTINCT "OnlineSecurity"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('No',), ('No internet service',), ('Yes',)]

In [36]:
%%sql

UPDATE competitor
SET "OnlineSecurity" = 'No'
WHERE "OnlineSecurity" = 'No internet service';

 * postgresql://postgres:***@localhost:5432/churn_db
1526 rows affected.

[]

#### Distinct Online Backup

In [37]:
%%sql

SELECT DISTINCT "OnlineBackup"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [38]:
%%sql

SELECT DISTINCT "OnlineBackup"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('No',), ('No internet service',), ('Yes',)]

In [39]:
%%sql

UPDATE competitor
SET "OnlineBackup" = 'No'
WHERE "OnlineBackup" = 'No internet service';

 * postgresql://postgres:***@localhost:5432/churn_db
1526 rows affected.

[]

#### Distinct Device Protection

In [40]:
%%sql

SELECT DISTINCT "DeviceProtection"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [41]:
%%sql

SELECT DISTINCT "DeviceProtection"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('No',), ('No internet service',), ('Yes',)]

In [42]:
%%sql

UPDATE competitor
SET "DeviceProtection" = 'No'
WHERE "DeviceProtection" = 'No internet service';

 * postgresql://postgres:***@localhost:5432/churn_db
1526 rows affected.

[]

#### Distinct Tech Support

In [43]:
%%sql

SELECT DISTINCT "TechSupport"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [44]:
%%sql

SELECT DISTINCT "TechSupport"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('No',), ('No internet service',), ('Yes',)]

In [45]:
%%sql

UPDATE competitor
SET "TechSupport" = 'No'
WHERE "TechSupport" = 'No internet service';

 * postgresql://postgres:***@localhost:5432/churn_db
1526 rows affected.

[]

#### Distinct Streaming TV

In [46]:
%%sql

SELECT DISTINCT "StreamingTV"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [47]:
%%sql

SELECT DISTINCT "StreamingTV"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('No',), ('No internet service',), ('Yes',)]

In [48]:
%%sql

UPDATE competitor
SET "StreamingTV" = 'No'
WHERE "StreamingTV" = 'No internet service';

 * postgresql://postgres:***@localhost:5432/churn_db
1526 rows affected.

[]

#### Distinct Streaming Movies

In [49]:
%%sql

SELECT DISTINCT "StreamingMovies"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [50]:
%%sql

SELECT DISTINCT "StreamingMovies"
FROM competitor

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('No',), ('No internet service',), ('Yes',)]

In [51]:
%%sql

UPDATE competitor
SET "StreamingMovies" = 'No'
WHERE "StreamingMovies" = 'No internet service';

 * postgresql://postgres:***@localhost:5432/churn_db
1526 rows affected.

[]

#### Distinct Contract

In [52]:
%%sql

SELECT DISTINCT "Contract"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('One year',), ('Month-to-month',), ('Two Year',)]

In [53]:
%%sql

SELECT DISTINCT "Contract"
FROM competitor

 * postgresql://postgres:***@localhost:5432/churn_db
3 rows affected.

[('Month-to-month',), ('One year',), ('Two year',)]

#### Distinct Paperless Billing

In [54]:
%%sql

SELECT DISTINCT "PaperlessBilling"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [55]:
%%sql

SELECT DISTINCT "PaperlessBilling"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

#### Distinct Payment Method

In [56]:
%%sql

SELECT DISTINCT "PaymentMethod"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
4 rows affected.

[('Mailed Check',),
 ('Electronic Check',),
 ('Credit Card (automatic)',),
 ('Bank Transfer(automatic)',)]

In [57]:
%%sql

SELECT DISTINCT "PaymentMethod"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
4 rows affected.

[('Electronic check',),
 ('Credit card (automatic)',),
 ('Mailed check',),
 ('Bank transfer (automatic)',)]

In [58]:
%%sql

UPDATE company
SET "PaymentMethod" = 'Bank Transfer (automatic)'
WHERE "PaymentMethod" = 'Bank Transfer(automatic)';

 * postgresql://postgres:***@localhost:5432/churn_db
2229 rows affected.

[]

#### Distinct Churn

In [59]:
%%sql

SELECT DISTINCT "Churn"
FROM company;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [60]:
%%sql

SELECT DISTINCT "Churn"
FROM competitor;

 * postgresql://postgres:***@localhost:5432/churn_db
2 rows affected.

[('No',), ('Yes',)]

In [61]:
%%sql

SELECT *
FROM company
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/churn_db
5 rows affected.

[(3, 'K191035', 'Female', 'No', 'Two Year', 'DSL', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'Credit Card (automatic)', 15.75414408, 159.947583, 'No', 'Yes'),
 (4, 'D90850', 'Male', 'No', 'Two Year', 'DSL', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'Mailed Check', 17.08722662, 119.95684, 'Yes', 'Yes'),
 (8, 'V538685', 'Female', 'Yes', 'Month-to-month', 'DSL', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'Mailed Check', 4.26425515, 114.950905, 'Yes', 'Yes'),
 (10, 'I676080', 'Female', 'No', 'Two Year', 'Fiber Optic', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Mailed Check', 3.422086139, 162.482694, 'Yes', 'Yes'),
 (12, 'E243720', 'Female', 'No', 'Month-to-month', 'Fiber Optic', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Electronic Check', 10.52199781, 149.962093, 'Yes', 'Yes')]

In [62]:
%%sql

SELECT *
FROM competitor
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/churn_db
5 rows affected.

[(1, '5575-GNVDE', 'Male', 'No', 'No', 34.0, 'Yes', 'No', 'DSL', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'One year', 'No', 'Mailed check', 56.95, '1889.5', 'No'),
 (2, '3668-QPYBK', 'Male', 'No', 'No', 2.0, 'Yes', 'No', 'DSL', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Mailed check', 53.85, '108.15', 'Yes'),
 (4, '9237-HQITU', 'Female', 'No', 'No', 2.0, 'Yes', 'No', 'Fiber optic', 'No', 'No', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Electronic check', 70.7, '151.65', 'Yes'),
 (5, '9305-CDSKC', 'Female', 'No', 'No', 8.0, 'Yes', 'Yes', 'Fiber optic', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Month-to-month', 'Yes', 'Electronic check', 99.65, '820.5', 'Yes'),
 (6, '1452-KIOVK', 'Male', 'No', 'Yes', 22.0, 'Yes', 'Yes', 'Fiber optic', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Month-to-month', 'Yes', 'Credit card (automatic)', 89.1, '1949.4', 'No')]